header .logo img {
    width: 80px !important;
}
header .logo, header .logo-2 {
    margin: 0 !important;
}
header .fota-btn {
    padding: 8px 15px !important;
    border: 1px solid #ddd;
    font-size: 14px;
}
header::after {
    content: none;
}

.header {
     background-color: #130099 !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
#introduce {
    position: relative;
    background: #000b4f;
}
body {
    color: #cbd3c3 !important;
    background-color: #000b4f;
}
#hero-banner, #introduce {
    padding: 0px !important;
}
.teams .team-item .name {
    margin-top: 13px;
}
#heroes {
    padding: 50px 0;
    background-image: none !important;
}
#hero-items .hero-grid::before{
    content: none !important;
}
#epic-story {
    padding: 50px 0 !important;
    background-color: #000b4f;
    background-blend-mode: multiply;
}
#backers {
    padding: 150px 0 50px !important;
}
#join-the-fight {
    height: auto !important;
}
.teams .team-item i {
    font-size: 25px;
    margin-left: 10px;
}
footer .social-list {
    margin-top: 0px;
}
footer {
    padding: 30px 0 !important;
    background-color: #000b4f;
    background-image: none !important;
}
.play-button {
    width: 68px;
    height: 48px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: transparent;
    /* youtube's actual play button svg */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
    filter: grayscale(100%);
    transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
    border: none;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container:hover {
    cursor: pointer;
}

.video-container:hover .play-button {
    filter: none;
}

.video-container .image-container {
    width: 100%;
    position: relative;
}

.video-container .image-container img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 575px) {
    #microsoft-mesh {
        height: 215px;
    }

    #microsoft-mesh video {
        width: 100%;
        transform: initial;
        left: 0;
        right: 0;
        top: 0;
    }
}


.text-justify {
    text-align: justify;
    text-align-last: center;
}

.text-justify-left {
    text-align: justify;
}

/*.item-detail-sec {
    padding: 120px 0 40px;
    background: #130099;
    background: -moz-linear-gradient(top, #130099 0%, #005a7e 100%);
    background: -webkit-linear-gradient(top, #130099 0%,#005a7e 100%);
    background: linear-gradient(to bottom, #130099 0%,#005a7e 100%);
}*/




@media screen and (max-width: 991px) {
    #roadmap .inner {
        height: 870px;
    }
    header .logo img {
    width: 50px !important;
}
header .toggle-menu {
    font-size: 24px;
}
.header {
    padding: 5px;
}
#introduce .inner .fota-img {
    max-width: 210px !important;
    top: -60px !important;
}
#introduce .inner .fota-img  img {
    height: 120px !important;
    max-width: 120px !important;
}
#introduce .inner {
    padding-top: 70px !important ;
}
.title.coming-title {
    font-size: 34px !important;
    color: #fff;
}
iframe {
    border: none;
    height: 200px;
    width: 100%;
}
.title {
    font-size: 34px !important;
    color: #fff;
}
.fota-desc {
    max-width: 100%;
    padding: 0;
}
#worlds {
    padding: 0px 0 240px !important;
}
#hero-selection .hero-image {
    height: 200px !important;
}
#form_quick_search {
   margin-bottom: 4px !important;
    width: 100%;
}
.items_filter a.btn.btn-secondary {
    width: 46%;
    margin: 6px;
}
section {
    padding: 30px 0 30px 0;
}
#content {
    padding: 60px 0 60px 0;
}
header .nav .nav-link {
    text-align: left;
}
header .nav-mobile {
    text-align: left;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
}




#preloader{
    position: absolute;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2124286e;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}